.customRadio{
  &:hover{
    transform: scale(1.1);
  }
}
// .inputRadio {
//   height: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-family: 'Pretendard-regular';
//   gap: 40px;
//   // height: 50px;
//   font-size: 24px;
//   text-align: center;
//   input[type='radio'] {
//     display: none; /* 또는 visibility: hidden; */
//   }
// }

.selectNormalText {
  color: black;
  height: 50px;
  cursor: pointer;
}

.normalText {
  color: #d7d8e0;
  cursor: pointer;
}

.selectSpecialText {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.specialText {
  color: #d7d8e0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.radioImg {
  // display: inline-block;
  cursor: pointer;
}
