@import '../../styles/colors.scss';

.entirePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 1080px;

  /* 레이아웃 헤더 영역 */
  .header {
    position: relative;
    width: 100%;
    min-width: 1920px;
    .headerContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      background-color: $main_200;
      .logo:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }
      .notice {
        position: absolute;
        cursor: pointer;
        right: 30px;
      }
      .notiBar {
        display: none;
      }
      .notice:hover + .notiBar,
      .notiBar:hover {
        display: block;
      }
    }
  }

  /* 레이아웃 메인 컨텐츠 */
  .main {
    display: flex;
    height: 100%;
    .sideBar {
      background-color: $sidebar;
      height: 100%;
      .sideBarContainer {
        color: black;
        width: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .sideBarContainerTop {
          display: flex;
          flex-direction: column;
          align-items: center;
          li {
            margin-top: 48px;
            transition: 0.2s;
            img {
              padding: 16px;
            }
          }
          li:hover {
            transform: translate(-3px, -3px);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            background-color: $main_300;
          }
        }
        .sideBarContainerBottom {
          li {
            margin-bottom: 48px;
            transition: 0.2s;
            cursor: pointer;
            img {
              padding: 16px;
            }
          }
          li:hover {
            transform: translate(-3px, -3px);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            background-color: $main_300;
          }
        }
      }
    }
    .mainMiddle {
      width: 1920px;
      height: 1080px;
      min-width: 960px;
      min-height: 540px;
      margin-left: auto;
      margin-right: auto;
    }
    .mainRight {
      width: 100px;
    }
  }
}
