@import '../../../styles/colors.scss';

.searchUsers {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .findUserlist {
    margin-top: 32px;
    background-color: $gray_scale_900;
  }
}
