.backGround {
  display: flex;
  flex-direction: column;
  // height: 100%;
  justify-content: space-between;
  align-items: center;
  .page {
    color: #000;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    .pagination {
      display: flex;
      color: black;
      scale: 1.8;
    }
  }
}

.rankList {
  margin-top: 48px;
  padding: 16px;
  height: 810px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 10px;
  width: 750px;
}
