@import '../../styles/colors.scss';

.loadingComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 40%;
  .loadingTitle {
    font-family: 'Pretendard-SemiBold';
    font-size: 64px;
    margin-bottom: 32px;
  }
  .loadingBall {
    display: flex;
    div {
      width: 30px;
      height: 30px;
      background-color: $gray_scale_900;
      border-radius: 50%;
      margin-left: 48px;
    }
  }
}
