.searchUsersListContainer {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.noSearchUsers {
  text-align: center;
  margin-top: 50%;
  font-family: 'KOTRAHOPE';
  font-size: 2rem;
}
