.loginPageContents {
  display: flex;
  width: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: contentShow 10s ease-in-out forwards;
}

.loginPageContentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginPageContentsContainer li {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.logo {
  transform: scale(0);
  animation: appear 10s ease-in-out forwards;
  text-align: center;
}

.login42Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 75px;
  border-radius: 30px;
  border: none;
  color: white;
  font-family: 'ABeeZee';
  font-size: 2rem;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
  animation: buttonShow 10s ease-in-out forwards;
}

.login42Button img {
  position: relative;
  right: 64px;
}

.loginGoogleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 75px;
  border-radius: 30px;
  border: none;
  font-family: 'ABeeZee';
  font-size: 2rem;
  background-color: #f2f3f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  animation: buttonShow 10s ease-in-out forwards;
}

.loginGoogleButton img {
  position: relative;
  right: 32px;
}

.pingpong {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  animation: bounce 1s ease-in-out infinite alternate;
  animation-delay: 10s;
  right: 10px;
  bottom: 0;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-150px);
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  80% {
    transform: scale(0);
  }
  95% {
    transform: scale(1);
  }
  97% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes buttonShow {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes contentShow {
  0%,
  80% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
