.dropDown {
  all: unset;
  display: none;
  width: 150px;
  color: var(--gray-scale-500, var(--gray-scale-500, #98989e));
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}