.chatListNavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 820px;
  .chatTypeListContainer {
    justify-self: start;
  }
  .chatTypeListContainer {
    display: flex;
    justify-content: center;
    // .chatRoomListSection {
    //   padding: 48px;
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   grid-gap: 30px;
    // }
    // .chatDmRoomListSection {
    //   padding: 48px;
    //   display: flex;
    //   flex-direction: column;
    // }
  }
  // .checkList {
  //   color: #544fb0;
  // }
}
