.chatRoom {
  width: 100%;
  height: 800px;
  background-color: #f7f8fa;
  padding: 16px;
  display: flex;
  border-radius: 30px;
  .chatShow {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin-right: 16px;
    width: 500px;
    .chatInfoLog {
      background-color: #e2ecff;
      border-radius: 10px;
      flex-grow: 10;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 16px 32px;
      height: 300px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .chatInfo {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
        font-family: 'Pretendard-ExtraBold';
      }
      .chatLog {
        padding: 16px 16px;
        height: 630px;
        overflow-x: scroll;
        position: absolute;
        bottom: 0px;
        width: 90%;
        &::-webkit-scrollbar {
          display: none;
        }
        .opponentMessage {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          .opponentUserMessageAndTime {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 8px;
            .opponentUserNickName {
              font-family: 'Pretendard-SemiBold';
              margin-right: 16px;
            }
            .opponentUserMessageTime {
              display: flex;
              flex-direction: column-reverse;
              font-family: 'Pretendard-Regular';
            }
          }
          .opponentUserMessage {
            margin-right: 16px;
            margin-bottom: 16px;
            background-color: white;
            border-radius: 10px;
            padding: 16px;
            box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
            text-align: left;
            max-width: 20rem;
          }
        }
        .myMessage {
          display: flex;
          flex-direction: row-reverse;
          width: 100%;
          .myMessageContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            .myUserMessageAndTime {
              display: flex;
              justify-content: flex-end;
              margin-bottom: 8px;
              font-family: 'Pretendard-Regular';
              .myUserNickName {
                display: flex;
                flex-direction: row-reverse;
                margin-left: 16px;
                font-family: 'Pretendard-SemiBold';
              }
            }
            .myUserMessage {
              text-align: left;
              word-break: break-all;
              margin-left: 16px;
              margin-bottom: 16px;
              background-color: white;
              box-shadow: -5px 4px 8px rgba(0, 0, 0, 0.25);
              border-radius: 10px;
              padding: 16px;
              max-width: 20rem;
            }
          }
        }
        .opponentMessage,
        .myMessage {
          margin-bottom: 16px;
        }
      }
    }
    .chatInput {
      height: 20px;
      flex-grow: 1;
      background-color: white;
      border-radius: 10px;
      margin-top: 16px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      position: relative;
      display: flex;
      align-items: center;
      .messageInput {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        background-color: #fff;
        border-radius: 10px;
        font-size: 1rem;
        padding: 0px 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-size: 1rem;
          text-align: center;
        }
      }
      .folderNameInputPlaceHolder {
        position: absolute;
        padding: 10px;
        pointer-events: none;
        font-size: 1rem;
        text-transform: uppercase;
        transition: 0.5s;
        color: #c0bebe;
        font-family: 'Pretendard-SemiBold';
      }
      .submitMessage {
        background-color: transparent;
        position: absolute;
        right: 5px;
        font-size: 1rem;
        border: none;
        cursor: pointer;
      }
    }
    .chatPassword {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 8px 0px;
      justify-content: center;
      align-items: center;
      .chatRoomName {
        display: flex;
        margin-bottom: 32px;
        img {
          margin-right: 16px;
        }
        .RoomName {
          font-size: 2rem;
          font-family: 'Pretendard-Bold';
        }
      }
      .wrongPassword {
        font-family: 'Pretendard-Regular';
        color: #fc4646;
      }
      .chatPasswordInput {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 30px;
        padding: 8px 16px;
        margin-top: 32px;
        .passwordInput {
          width: 100%;
          height: 100%;
          font-size: 1rem;
          border: none;
          border-radius: 10px;
          padding: 8px 16px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          &:focus {
            outline: none;
          }
          &::placeholder {
            font-size: 1rem;
            text-align: center;
          }
        }
        .passwordInputPlaceHolder {
          position: absolute;
          padding: 8px;
          pointer-events: none;
          font-size: 1rem;
          transition: 0.5s;
          color: #c0bebe;
          left: 15px;
          font-family: 'Pretendard-SemiBold';
        }
        .submitPassword {
          background-color: transparent;
          position: absolute;
          right: 20px;
          font-size: 1rem;
          border: none;
          cursor: pointer;
        }
      }
    }
    .chatUserSection {
      flex-grow: 1;
      width: 80px;
      background-color: white;
      padding: 16px;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .chatUserSection {
    flex-grow: 1;
    width: 80px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    li {
      margin-bottom: 8px;
    }
    .chatUserList {
      .chatUserListContainer {
        .chatUserListElement {
          display: flex;
          align-items: center;
          .userProfileImage {
            position: relative;
            margin-right: 16px;
          }
          .userNickName {
            margin-right: 16px;
          }
        }
      }
    }
  }
}

.messageInput:valid ~ .folderNameInputPlaceHolder,
.messageInput:focus ~ .folderNameInputPlaceHolder {
  transform: translateY(-1.7rem);
  padding: 0 16px;
  background-color: transparent;
  color: black;
  font-family: 'Pretendard-SemiBold';
}

.passwordInput:valid ~ .passwordInputPlaceHolder,
.passwordInput:focus ~ .passwordInputPlaceHolder {
  transform: translateY(-2.2rem);
  padding: 0 16px;
  background-color: transparent;
  font-family: 'Pretendard-SemiBold';
  color: black;
}
