.chatShow {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  margin-right: 16px;
  width: 500px;
  .chatInfoLog {
    background-color: #e2ecff;
    border-radius: 10px;
    flex-grow: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px 32px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chatInput {
    height: 20px;
    flex-grow: 1;
    background-color: white;
    border-radius: 10px;
    margin-top: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    align-items: center;
    .messageInput {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      background-color: #fff;
      border-radius: 10px;
      font-size: 1rem;
      padding: 0px 16px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-size: 1rem;
        text-align: center;
      }
    }
    .folderNameInputPlaceHolder {
      position: absolute;
      padding: 10px;
      pointer-events: none;
      font-size: 1rem;
      text-transform: uppercase;
      transition: 0.5s;
      color: #c0bebe;
      font-family: 'Pretendard-SemiBold';
    }
    .submitMessage {
      background-color: transparent;
      position: absolute;
      right: 5px;
      font-size: 1rem;
      border: none;
      cursor: pointer;
    }
  }
}

.show {
  display: flex;
}
.none {
  display: none;
}

.messageInput:valid ~ .folderNameInputPlaceHolder,
.messageInput:focus ~ .folderNameInputPlaceHolder {
  transform: translateY(-1.7rem);
  padding: 0 16px;
  background-color: transparent;
  color: black;
  font-family: 'Pretendard-SemiBold';
}
