.backGround {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  height: 80px;
  all: unset;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  .mainTitle {
    display: flex;
    // justify-content: space-between;
    flex-direction: row;
    font-size: 64px;
    margin: 20px;
    .mainTitleText {
      margin: auto;
      // margin-left: 50px;
    }
  }
  .subTitle {
    color: var(--gray-scale-400, #b5b6bd);
    text-align: center;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
  }
}
.btn {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 64px;
  .gameBtn {
    font-size: 25px;
    width: 300px;
    height: 64px;
    border-radius: 16px;
    background: #2c73ff;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    cursor: pointer;
    border: none;
    color: var(--black-white-white, #fff);
    text-align: center;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover {
      box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }
}
.pageNation {
  display: flex;
  justify-content: center;
  padding-top: 56px;
  gap: 8px;
  .nowPage {
    width: 16px;
    height: 16px;
    background-color: #2c73ff;
    border-radius: 50%;
  }

  .prvPage {
    width: 16px;
    height: 16px;
    background-color: #d9d9d9;
    border-radius: 50%;
  }
}

.inputRadio {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard-regular';
  gap: 40px;
  // height: 50px;
  font-size: 24px;
  text-align: center;
  input[type='radio'] {
    display: none; /* 또는 visibility: hidden; */
  }
}
