@import '../../../styles/colors.scss';

.changeImageModalContainer {
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
  .profileImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    .profileImageShow {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 16px;
      img {
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
    .defaultBtn {
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-family: 'Pretendard-Regular';
      margin-bottom: 24px;
      color: grey;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .inputImageButton {
      background-color: $main_300;
      padding: 8px;
      border-radius: 10px;
      color: $gray_scale_0;
      margin-bottom: 16px;
      font-family: 'Pretendard-Regular';
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
    .inputImage {
      display: none;
    }
    .imageExplanation {
      color: $gray_scale_400;
      font-family: 'Pretendard-Regular';
    }
  }
  .changeHandler {
    margin-top: 24px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    button {
      font-family: 'Pretendard-Regular';
      font-size: 16px;
      padding: 8px 24px;
      border: none;
      border-radius: 20px;
      background-color: $main_500;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
