.backGround {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}


.history {
  height: 440px;
  width: 750px;
  background-color: #f7f8fa;
  border-radius: 30px;
  margin-bottom: 48px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;

  .pagenation {
    color: #000;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    margin-bottom: 10px;
  }
}
