.chatPassword {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.block {
  text-align: center;
}

.nonBlock {
  text-align: center;
  &:focus {
    outline: none;
    &::placeholder {
      opacity: 0;
      transition: 0.3s;
    }
  }
  &::placeholder {
    font-size: 1rem;
    text-align: center;
  }
}
