@import '../../../styles/colors.scss';

.chatPassword {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  .chatRoomName {
    display: flex;
    margin-bottom: 32px;
    img {
      margin-right: 16px;
    }
    .RoomName {
      font-size: 2rem;
      font-family: 'Pretendard-Bold';
    }
  }
  .wrongPassword {
    font-family: 'Pretendard-Regular';
    color: $error;
  }
  .chatPasswordInput {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30px;
    padding: 8px 16px;
    margin-top: 32px;
    // .passwordInput {
    //   width: 100%;
    //   height: 100%;
    //   font-size: 1rem;
    //   border: none;
    //   border-radius: 10px;
    //   padding: 8px 16px;
    //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    //   &:focus {
    //     outline: none;
    //   }
    //   &::placeholder {
    //     font-size: 1rem;
    //     text-align: center;
    //   }
    // }
    // .passwordInputPlaceHolder {
    //   position: absolute;
    //   padding: 8px;
    //   pointer-events: none;
    //   font-size: 1rem;
    //   transition: 0.5s;
    //   color: $gray_scale_400;
    //   left: 15px;
    //   font-family: 'Pretendard-SemiBold';
    // }
    .submitPassword {
      background-color: transparent;
      position: absolute;
      right: 20px;
      font-size: 1rem;
      border: none;
      cursor: pointer;
    }
  }
}

// .passwordInput:valid ~ .passwordInputPlaceHolder,
// .passwordInput:focus ~ .passwordInputPlaceHolder {
//   transform: translateY(-2.2rem);
//   padding: 0 16px;
//   background-color: transparent;
//   font-family: 'Pretendard-SemiBold';
//   color: black;
// }
