@import '../../../styles/colors.scss';

.chatUserListElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
  .userInfo {
    display: flex;
    align-items: center;
    .userProfileImage {
      display: flex;
      align-items: center;
      .profileImage {
        object-fit: cover;
        border-radius: 50%;
        margin-left: 8px;
      }
    }
    .userNickName {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 8px 0px 8px;
    }
  }
  .dropdown {
    position: absolute;
    right: 0px;
  }
}
