@import '../../../styles/colors.scss';

.chatUserListElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  .userInfo {
    display: flex;
    align-items: center;
    .userProfileImage {
      display: flex;
      align-items: center;
    }
    .adminUserProfileImage {
      position: relative;
      margin-right: 16px;
      img {
        border: 2px solid black;
      }
    }
    .userNickName {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 16px;
    }
  }
  img {
    object-fit: cover;
    border-radius: 50%;
  }
}
