.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 64px;
  margin: 20px;
}
.prvBtn {
  position: absolute;
  margin-right: 450px;
  cursor: pointer;
}

.title {
  font-family: 'Pretendard-SemiBold';
  text-align: center;
  font-size: 70px;
}

.subTitle {
  margin-top: 16px;
  font-size: 30px;
  color: #b5b6bd;
}
