.chatRoomList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
}

.chatRoomListContainer {
  display: flex;
  justify-content: center;
}

.chatNavBarContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 30px;
  color: #d7d8e0;
}

.chatNavBarContainer input[type='radio'] {
  display: none;
}

.chatRoomList .chatRoomListSection {
  padding: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.checkList {
  color: #544fb0;
}
