.chatTypeListContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  // .chatRoomListSection {
  //   padding: 48px;
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-gap: 30px;
  // }
  // .chatDmRoomListSection {
  //   padding: 48px;
  //   display: flex;
  //   flex-direction: column;
  // }
}
