/* 1:1 채팅 유저 리스트 */

.dmChatListContainer {
  width: 350px;
  height: 80px;
  background-color: #f2f3f5;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
  }
  .profileImageOnline {
    display: flex;
    margin-right: 32px;
    padding: 16px;
    img {
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &::after {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: green;
      left: 55px;
      bottom: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .profileImageOffline {
    display: flex;
    margin-right: 32px;
    padding: 16px;
    img {
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &::after {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: grey;
      left: 55px;
      bottom: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .opponentNickName {
    font-size: 24px;
    font-family: 'Pretendard-Regular';
  }
}
