/* Gray Scale 색상 */
$gray_scale_0: #fff;
$gray_scale_50: #f7f8fa;
$gray_scale_100: #f2f3f5;
$gray_scale_200: #e8e9ed;
$gray_scale_300: #d7d8e0;
$gray_scale_400: #b5b6bd;
$gray_scale_500: #98989e;
$gray_scale_600: #6f7075;
$gray_scale_700: #5c5d61;
$gray_scale_800: #3f3f42;
$gray_scale_900: #1f2021;

/* main 색상 */

$main_100: #d2e0fb;
$main_200: #bcd3ff;
$main_300: #9abdff;
$main_400: #71a1ff;
$main_500: #508bff;
$main_600: #2c73ff;
$main_800: #375797;
$main_900: #544fb0;

/* Error 색상 */
$error: #fc4646;

/* layout 색상 */
$sidebar: #f2f7ff;
