.frinedUsersListContainer {
  padding: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.noFriends {
  text-align: center;
  margin-top: 40%;
  font-size: 2rem;
  font-family: 'KOTRAHOPE';
}
